<nav class="navbar fixed-top navbar-expand-lg navbar-light bg-transparent">
  <a class="navbar-brand" href="#">
    <!-- <img src="/assets/icon.png" width="30" height="30" class="d-inline-block align-top bg-white rounded" alt=""> -->
    <img src="/assets/icon.png" width="30" height="30" class="d-inline-block align-top" alt="">
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse justify-content-end" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <!-- <a class="nav-item nav-link active" href="#home">Get Started <span class="sr-only">(current)</span></a> -->
      <a class="nav-item nav-link" href="#about">About</a>
      <a class="nav-item nav-link" href="#team">Team</a>
      <a class="nav-item nav-link" href="#credits">Credits</a>
    </div>
  </div>
</nav>

<div id="home" class="landing-bg" style="height: 100vh; padding-top: 65px; display: flex; align-items: center;">
  <div class="container text-center">
    <h1 style="font-family: 'Shadows Into Light', cursive; font-size: 150px;">CLUE-LESS</h1>
    <h2 class="highlight" style="font-family: 'Raleway', sans-serif; font-weight: 200;">A modern interpretation of the classic CLUE<sup style="top: 5px;"><small style="font-family: 'Raleway', sans-serif; font-weight: 200; font-size: 50%;">TM</small></sup> board game.</h2>
    <div class="btn-toolbar justify-content-center" style="padding-top: 30px;">
      <button class="btn btn-dark" style="margin-right: 15px;"><a href="#start" style="color:inherit; text-decoration: none;">Get Started</a></button>
      <button class="btn btn-light"><a href="#about" style="color:inherit; text-decoration: none;">Learn More</a></button>
    </div>
  </div>
</div>

<div id="team" style="height: 450px; padding-top: 65px;">
  <div class="container">
    <h2 class="text-center">Our Team</h2>

    <div class="row" style="padding-top: 25px;">
      <div class="col-md-4">
        <div class="card text-center">
          <div class="card-body">
            <h5 class="card-title">Project Manager</h5>
          </div>
          <div class="card-footer text-muted">Zach Romano</div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="card text-center">
          <div class="card-body">
            <h5 class="card-title">Lead Architect</h5>
          </div>
          <div class="card-footer text-muted">Steven Dao</div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="card text-center">
          <div class="card-body">
            <h5 class="card-title">Lead Programmer</h5>
          </div>
          <div class="card-footer text-muted">Jay Huang</div>
        </div>
      </div>
    </div>

    <div class="row" style="padding-top: 25px;">
      <div class="col-md-2"></div>

      <div class="col-md-4 col-md-offset-1">
        <div class="card text-center">
          <div class="card-body">
            <h5 class="card-title">Lead Tester</h5>
          </div>
          <div class="card-footer text-muted">Kaleb Kolb</div>
        </div>
      </div>

      <div class="col-md-4 col-md-offset-1">
        <div class="card text-center">
          <div class="card-body" style="padding-left: 10px; padding-right: 10px;">
            <h5 class="card-title">Lead Configuration Manager</h5>
          </div>
          <div class="card-footer text-muted">Joesph Akoun</div>
        </div>
      </div>
    </div>

  </div>
</div>

<div id="start" class="landing-bg" style="padding-top: 65px;">
  <session-list></session-list>
</div>

<!-- <div id="credits" style="height: 250px; padding-top: 65px; background-color: #607D8B;">
  <h1 class="text-center">Required Attributions</h1>
  <ul>
    <li><a href="https://www.freepik.com/free-vector/bright-background-with-dots_1252906.htm">Designed by Creative_hat</a></li>
    <li><a href="https://www.freepik.com/free-vector/infographic-elements-pack_772624.htm">Designed by Freepik</a></li>
  </ul>
</div> -->
