<p>Open browser console for debugging information</p>
<p>Open <a target="_blank" href="https://console.firebase.google.com/u/1/project/stack-attack/database/firestore/data~2Fsessions">Firebase Database</a> to view data records<p>

<ol>
  <li><button (click)="createSession()">Create Game Session</button></li>
  <li>
    <button (click)="addPlayer()">Add Player</button>
    <select [(ngModel)]="selectedPlayer">
      <option *ngFor="let player of playerList" [value]="player">{{player}}</option>
    </select>
  </li>
  <li><button (click)="startSession()">Start Session</button></li>
</ol>

<div *ngIf="session">
  <h2>Session Info</h2>
  <ul>
    <li>Current Player ID: {{ session.currentTurn }}</li>
    <li>Turn Order: {{ session.turnOrder }}</li>
    <li>Confidential</li>
    <ul>
      <li>Room: {{ session.confidential.room }}</li>
      <li>Suspect: {{ session.confidential.suspect }}</li>
      <li>Weapon: {{ session.confidential.weapon }}</li>
    </ul>
  </ul>

  <h2>Player Card List: {{ (player$ | async)?.role }}</h2>
  <ul>
    <li>Rooms: {{ (player$ | async)?.cards.rooms }}</li>
    <li>Suspects: {{ (player$ | async)?.cards.suspects }}</li>
    <li>Weapons: {{ (player$ | async)?.cards.weapons }}</li>
  </ul>

  <h2>Player Suggestion List: {{ (player$ | async)?.role }}</h2>
  <ul>
    <li>{{ (player$ | async)?.suggestions.rooms | json }}</li>
    <li>{{ (player$ | async)?.suggestions.suspects | json }}</li>
    <li>{{ (player$ | async)?.suggestions.weapons | json }}</li>
  </ul>

  <h2>Event Messages</h2>
  <ul>
    <li *ngFor="let event of events$ | async">
      {{ event.timestamp.seconds * 1000 | date:'medium' }} | {{ event.role }} ({{ event.authorId }}) | {{ event.message }}
    </li>
  </ul>
</div>
