td > p {
  margin-bottom: 0px;
}

/* Sticky table header */
thead tr:first-child th {
  background-color: #F1F9FF;
  position: sticky;
  top: 0;
}

.session-list {
  background-color: #F1F9FF;
  padding-left: 0px;
  padding-right: 0px;
  height: 400px;
  overflow: scroll;
}

.session-lobby {
  text-align: center;
  height: 400px;
  width: 800px;
  margin: 100px auto 100px auto;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.session-ready {
  height: 400px;
  /* padding: 75px 75px 75px 75px; */
  padding: 50px 65px 50px 65px;
}
