<div class="container rounded session-lobby">
  <div class="row">
    <div class="col-md-7 session-ready">
      <h1>READY TO PLAY?</h1>
      <div style="padding-top: 15px;">
        <p>Find a session on the right to join or create a new session below with friends.</p>
        <create-session></create-session>
      </div>
    </div>
    <div class="col-md-5 session-list">
      <table class="table table-borderless table-hover justify-content-center">
        <thead>
          <tr>
            <th scope="col">SESSIONS</th>
            <th scope="col">STATUS</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let session of sessions$ | async">
            <td>
              <b>{{session.sessionName}}</b>
              <p>{{session.hostName}}</p>
            </td>
            <td>
              <div *ngIf="session.status == 'WAITING'">
                <button type="button" class="btn btn-success btn-sm" (click)="joinSession(session)">JOIN</button>
              </div>
              <div *ngIf="session.status != 'WAITING'">
                <button type="button" class="btn btn-secondary btn-sm" disabled>{{session.status}}</button>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
